  <div class="empty-row-sm"></div>
  <div class="text-center section-banner"><h2>Create New Event</h2></div>
  <form name="eventForm" method="post" action="createevent">
    <div class="empty-row"></div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Title</span>
      <input type="text" placeholder="Event Title" name="title" class="form-control" aria-describedby="basic-addon1" ng-model="eventtitle">
    </div>
    <div class="empty-row"></div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon2">Date</span>
      <input type="date" name="date" class="form-control" aria-describedby="basic-addon2"  ng-model="eventdate">
    </div>
    <div class="empty-row"></div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon3">Time</span>
      <input type="time" name="time" class="form-control" aria-describedby="basic-addon3"  ng-model="eventtime">
      <span class="input-group-addon" id="basic-addon4">Grace Period</span>
      <select class="form-control" name="graceperiod" aria-describedby="basic-addon4" ng-model="eventgraceperiod">
        <option value="00" selected="selected">0 min</option>
        <option value="05">5 min</option>
        <option value="10">10 min</option>
      </select>
    </div>
    <div class="empty-row"></div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon5">Location</span>
      <input type="text" placeholder="Type Your Location Here..." name="location" class="form-control" aria-describedby="basic-addon5"  ng-model="eventlocation">
    </div>
    <div class="empty-row"></div>
    <ul class="list-group">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-click="searchFriends()">
          Select Guests
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li ng-repeat="friend in friends" ng-click="clickEvent($event)" data-friend="{{friend}}">&nbsp;&nbsp;{{friend}}</li>
        </ul>
      </div>
      <li class="list-group-item">
        <span>Guest List: </span>
        <span ng-repeat="guest in guestlist">
          <span class="label label-info">{{guest.guest}}</span>&nbsp;
        </span>
      </li>
    </ul>
    <div class="empty-row"></div>
    <div class="text-center">
      <button type=button class="btn btn-success btn-lg" ng-click="submitForm(eventForm)">Invite</button>
      <button type="button" class="btn btn-default btn-lg" ng-click="resetForm()">Reset</button>
    </div>
  </form>
<script>
</script>
